<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出错啦！</title>
</head>
<body style="background-image: url(/images/error_3.jpg); background-repeat: no-repeat;">
<div style="text-align:center; margin-top:10%; font-size:2.5em;">
	<h1>ERROR!</h1>
	<h1 th:text="${errormsg}">无效th标签</h1>
</div>
	<div style="position:absolute; bottom:5%; right:5%;"><p style="font-size:1.5em;">点击 <a th:href="@{${back}}">这里</a> 返回<span th:text="${backmsg}"></span></p></div>
</body>
</html>